/* CSS Variables */

:root {
    --primary:  #a6ff7b;
    --dark: #190059;
    --light: #ff54ff;
    --seconday: 
}

@font-face {
    font-family: "jersey";
    src: url("fonts/jersey.ttf");
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary);
}

body {
    background: #190059;
    margin: 0.2rem 0.2rem;
    line-height: 1;
}

.btn {
    background: var(--primary);
    color: var(--light);
    padding: 0.5rem 0.5rem;
    text-decoration: none;
    border: 0;
}

img {
    max-width: 100%;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
}

/* Navigation */
.main-nav ul {
    display: grid;
    grid-gap: 1rem;
    padding: 0; 
    list-style: none; /* no bullets */
    grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
    background-color: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: bold;
}

.main-nav a:hover {
    background-color: var(--dark);
    color: var(--primary);
}

/* Top Container ctrl / */
.top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        'showcase poster-display-box';
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

/* Showcase */
.showcase {
    font-family: jersey;
    grid-area: showcase;
    min-height: 400px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center; 
    /* the line above makes the fucking names actually show to the center */
    justify-content: center;
}

.showcase h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.showcase p {
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.showcase h2 {
    font-family: jersey;
    font-size: 2rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    align-items: center;
    text-align: center;
    letter-spacing: 0.4rem;
}

.showcase a {
    margin-top: 0.5rem;
    color: var(--light);
    font-weight: bold;
}

.showcase i {
    color: var(--light);
}

.box {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 0.5rem;
}

.poster-display-box {
    grid-area: poster-display-box;
}

footer {
    margin-top: 1rem;
    background: var(--primary);
    color: var(--dark);
    padding: 0.1rem;
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
}

@media(max-width: 700px) {
    .top-container {
        grid-template-areas: 
           'showcase'
           'poster-display-box'
    }

    .showcase h1 {
        font-size: 1.5rem
    }

    .main-nav ul {
        grid-template-columns: 2fr;
    }
}
